
.customers{
    min-height: 400px;
    min-width: 200px;
    display: flex;
    justify-content: center;
    gap: 300px;
    background-color:rgb(204, 204, 240);
}
.customers img{
    width: 250px;
    height: 300px;
}
.customers-content{
    width: 500px;
}
.customers-content h1{
    color: green;
}
.customers-content img{
    width: 50px;
    height: 50px;
    
}
.customers-content a{
    text-decoration: none;
    font-size: 20px;
    color: green;
}