:root {
    --footer-bg-color: #1f2937;
    --text-color: #ffffff;
    --link-color: rgba(255, 255, 255, 0.7);
}

.footer {
    background-color: var(--footer-bg-color);
    color: var(--text-color);
    padding: 50px 20px;
}

.footer-top {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1200px;
    margin: auto;
}

.footer-brand img {
    width: 100px; 
}

.footer-brand h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
}

.footer-brand p {
    font-size: 14px;
    color: white;
}

.footer-links {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    color: white;
}

.footer-links h4 {
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 6px;
}

.footer-links li a {
    text-decoration: none;
    transition: color 0.3s ease;
    color: white;
}

.footer-links input {
    padding: 10px;
    border-radius: 4px;
    border: none;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--text-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

@media (min-width: 768px) {
    .footer-top {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .footer-links {
        flex-direction: row;
        gap: 50px;
        flex: 2; 
    }

    .footer-links div {
        flex: 1; 
    }

    .footer-brand {
        flex: 1;
        max-width: 250px; 
    }
}