.container{
    margin: 0 auto;
    max-width: 1200px;
}

.home{
    min-height: 400px;
}
.home-banner h1{
    font-size: 50px;
}
.home-banner span{
    color: green;
}
.home-logo{
    display: flex;
    justify-content:right;
    justify-content: flex-start;
}
.home{
    display: flex;
    justify-content: space-around;
}
.home-banner button{
    border: none;
    font-size: 25px;
    background-color:rgba(76, 175, 79, 1);
    color: white;
    border: 2px solid;
    border-radius: 5px;
}
.home-banner span{
    inline-size: 450px;
    display: flex;
    justify-content: center;
}
